@import 'normalize';
.browsehappy {
   margin: .2em 0;
   background: #ccc;
   color: #000;
   padding: .2em 0;
}
$footer_color: #232323;
/* ==============
 * Reset
/* ============== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
   font-size: 100%;
   font-weight: normal;
   margin: 0;
   padding: 0;
   list-style-type: none;
   vertical-align: baseline;
   border: 0;
   outline: 0;
   background: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}
/* clearfix */
.clearfix:before {
   display: table;
   content: '';
}
.clearfix:after {
   display: table;
   content: '';
   clear: both;
}

.clear {
   clear: both;
}

.clearfix {
   *zoom: 1;
}
/* ==============
 * Styling
/* ============== */
html {
   height: 100%;
}
body {
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   width: 100%;
   height: 100%;
}
a {
   text-decoration: underline;
   color: blue;
   outline: none;
   &:hover {
      text-decoration: none;
   }
}
p {
   margin: 0 0 18px;
}
img {
   vertical-align: middle;
   border: none;
}
input {
   vertical-align: middle;
}
fieldset {
   margin: 0;
   padding: 0;
   border: 0;
}
textarea {
   resize: vertical;
}
#wrapper {
   width: 100%;
   height: auto !important;
   height: 100%;
   min-height: 100%;
   margin: 0 auto;
}
.inner {
   width: 960px;
   position: relative;
   margin: 0 auto;
}

/* ==============
 *  Header
 * ============== */

header {
   position: relative;
   height: 117px;
   .logo {
      width: 41px;
      height: 43px;
      position: absolute;
      top: 20px;
      left: 10px;
      img {
         width: 41px;
         height: 43px;
      }
   }
   .site-title {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      position: absolute;
      top: 30px;
      left: 70px;
      width: 130px;
   }
   .phone {
      font-size: 14px;
      font-weight: lighter;
      text-decoration: none;
      color: #000;
      position: absolute;
      left: 330px;
      top: 30px;
   }
   .phone-bottom {
      top: 50px;
   }
   .headernav {
      position: absolute;
      top: 40px;
      right: 0;
      width: 420px;
      ul {
         display: table-row;
         li {
            display: table-cell;
            padding: 0 10px;
            text-align: center;
            a {
               font-size: 12px;
               color: #000;
               text-decoration: none;
               text-transform: uppercase;
            }
            &:hover {
               a {
                  text-decoration: underline;
               }
            }
         }
      }
   }
}
.home-back {
   width: 100%;
   height: 590px;
   position: absolute;
   top: 0;
   z-index: -5;
   display: none;
}
body.home {
  header {
    .site-title {
      color: #fff;
    }
    .phone {
      color: #fff;
    }
  }
 .home-back {
  display: block;
 }
}
/* ==============
 * Middle
/* ============== */
.container {
   position: relative;
}
.main-content {
   padding: 0 0 20px;
}
section {
   width: 820px;
   padding: 0 70px 40px;
   margin: 0 auto;
   .title,
   .page-title,
   .single-title {
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      margin: 0 0 40px;
      color: #000;
      line-height: 1;
   }
   .page-title,
   .single-title {
       padding: 10px 260px 0 20px;
       text-align: left;
   }
   p {
      font-weight: normal;
      font-size: 14px;
      margin: 0 0 30px;
   }
   .blockqoute {
      color: #cc3366;
   }
}
.question {
   background-image: url(../img/bg/question.png);
   background-repeat: no-repeat;
   background-position: right center;
   width: 170px;
   display: block;
   margin: 0 auto;
   font-size: 14px;
   padding: 14px 56px 14px 0;
   text-decoration: none;
   color: #fff;
   font-weight: lighter;
   &:hover {
      text-decoration: underline;
      background-image: url(../img/bg/question-hover.png);
   }
}
.arrow-next {
   background-image: url(../img/bg/arrow-next.png);
   background-repeat: no-repeat;
   background-position: right center;
   width: 150px;
   display: block;
   margin: 0 auto;
   font-size: 14px;
   padding: 14px 56px 14px 0;
   text-decoration: none;
   color: #fff;
   font-weight: lighter;
   &:hover {
      text-decoration: underline;
      background-image: url(../img/bg/arrow-next-hover.png);
   }
}
.show-more {
   background-color: rgb(234, 50, 48);
   display: block;
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .5);
   width: 120px;
   height: 36px;
   font-size: 14px;
   color: #fff;
   text-align: center;
   text-shadow: 0 1px 0 rgba(216, 98, 82, .75);
   text-decoration: none;
   margin: 0 auto 30px;
   line-height: 2.5;
   transition: all 0.5;
   &:hover {
      background-color: #ea5654;
   }
}
.pdf-dl {
   text-decoration: none;
   color: #fff;
   background-image: url(../img/bg/pdf-dl.png);
   background-repeat: no-repeat;
   background-position: right center;
   width: 90px;
   display: block;
   margin: 0 auto;
   font-size: 14px;
   padding: 14px 56px 14px 0;
   text-decoration: none;
   color: #fff;
   font-weight: lighter;
   &:hover {
      text-decoration: underline;
      background-image: url(../img/bg/pdf-dl-hover.png);
   }
}
.home-slider {
   height: 295px;
   padding: 110px 0 0;
   h2 {
      font-size: 60px;
      font-weight: lighter;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      line-height: 1.2;
      margin: 0 auto 40px;
   }
   h5 {
      font-size: 30px;
      font-weight: normal;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      line-height: 1.2;
      margin: 0 0 55px;
   }
}
.search-include {
   float: right;
   width: 220px;
   height: 39px;
   position: relative;
   form {
      width: 219px;
      height: 39px;
      position: absolute;
      top: 0;
      right: 0;
      border-top: 1px solid #bababa;
      border-left: 1px solid #bababa;
      input {
         width: 190px;
         height: 38px;
         padding-right: 20px;
         padding-left: 10px;
         position: absolute;
         top: 0;
         left: 0;
         color: #bababa;
         outline: none;
         border: 0;
      }
      button {
         width: 17px;
         height: 40px;
         position: absolute;
         top: 0;
         right: 0;
         display: block;
         background-color: transparent;
         border: 0;
         background-image: url(../img/bg/arrow-button.png);
         background-repeat: no-repeat;
         background-position: left center;
      }
   }
}
.home-fourblock {
   margin: 0 auto 60px;
   ul {
      li {
         box-shadow: 0 1px 3px 0 rgba(35, 31, 32, .4);
         background-color: #fff;
         display: inline-block;
         width: 190px;
         height: 340px;
         padding: 40px 15px 0;
         margin: 0 10px;
         float: left;
         background-repeat: no-repeat;
         background-position: center 90px;
         &:first-child {
            background-image: url(../img/bg/home-fourblock-1.png);
         }
         &:nth-child(2) {
            background-image: url(../img/bg/home-fourblock-2.png);
         }
         &:nth-child(3) {
            background-image: url(../img/bg/home-fourblock-3.png);
         }
         &:last-child {
            background-image: url(../img/bg/home-fourblock-4.png);
         }
         h6 {
            text-align: center;
            margin: 0 0 150px;
            color: #000;
            font-size: 18px;
            font-weight: 700;
         }
         p {
            font-size: 14px;
            color: #000;
            text-align: center;
            line-height: 1.286;
         }
      }
   }
}
.custom-article-home {
  width: 100%;
  height: 164px;
  margin: 0 auto 60px;
  padding: 34px 0 0;
  h2 {
    margin: 0 auto 30px;
    text-align: center;
    font-size: 36px;
    color: rgb(255, 255, 255);
    line-height: 0.667;
  }
  p{
    margin: 0 auto 15px;
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    line-height: 1.25;
  }
}
.custom-article-category {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  padding: 34px 0 0;
  h2 {
    margin: 0 auto 30px;
    text-align: center;
    font-size: 36px;
    color: rgb(255, 255, 255);
    line-height: 0.667;
  }
  p{
    margin: 0 auto 15px;
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    line-height: 1.25;
  }
  .pdf-dl {
      width: 120px !important;
  }
}
.custom-article-product {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  padding: 34px 0 0;
  h2 {
    margin: 0 auto 30px;
    text-align: center;
    font-size: 36px;
    color: rgb(255, 255, 255);
    line-height: 0.667;
  }
  p{
    margin: 0 auto 15px;
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    line-height: 1.25;
  }
}
article {
   ol,
   ul {
      margin: 0 0 30px;
      padding: 0 0 0 30px;
      li {
         margin: 0 0 10px;
      }
   }
   ul {
      list-style: circle outside;
   }
   ol {
      list-style: decimal outside;
   }
   blockquote {
      color: #cc3366;
   }
   .tags {
      margin-left: -70px;
      float: left;
      display: inline-block;
      a {
         text-decoration: none;
         font-weight: lighter;
         color: #0b5bff;
         &:before {
            content: '#';
         }
      }
   }
   .date {
      float: right;
      display: inline-block;
      margin-right: -70px;
      text-transform: lowercase;
      font-weight: lighter;
   }
}
article.post {
   margin-bottom: 70px;
}
.relative-article {
   width: 960px;
   margin: 0 -70px 70px -70px;
   .relative-block-title {
      width: 100%;
      float: left;
      text-align: center;
      margin: 0 0 40px;
      font-size: 30px;
      margin: 0 0 40px;
      color: #000000;
      text-transform: uppercase;
   }
   .container {
      float: left;
      height: 325px;
      width: 460px;
      margin: 0 10px;
      overflow: hidden;
      .container-title {
         color: #000000;
         margin: 0 0 36px;
         text-align: center;
         font-size: 18px;
         height: 24px;
         overflow: hidden;
      }
      .relative-feature-image {
         width: 460px;
         height: 145px;
         position: relative;
         display: block;
         margin: 0 0 40px;
         img {
            width: 100%;
            height: 145px;
         }
         .show-more {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 5;
            margin: 0;
         }
      }
   }
}
.contact-map {
   .acf-map {
      width: 100%;
      height: 200px;
   }
   .marker-in {
      width: 300px;
      height: 90px;
      border: 2px solid #fff;
      padding: 0;
      p {
         width: 165px;
         float: left;
         display: block;
         color: #000000;
         font-size: 14px;
         text-align: right;
      }
      .adress {

      }
      .worktime {

      }
      .location-img {
         display: block;
         width: 130px;
         height: 90px;
         float: right;
         img {
            width: 130px;
            height: 90px;
         }
      }
   }
}
body.category {
   position: relative;
   .cat-title {
      position: absolute;
/*       top: 640px; */
      top: 520px;
      width: 100%;
      text-align: center;
      font-size: 30px;
      color: #000000;
      letter-spacing: 2px;
      text-transform: uppercase;
   }
   .custom-article-category {
      position: absolute;
/*       top: 1080px; */
      top: 1000px;
      height: 166px;
   }
}
.category-block {
   position: relative;
   .search-include {
      position: absolute;
      right: 70px;
      top: 0;
      z-index: 5;
   }
}
.loop-block {
   width: 960px;
   margin: 0 -70px 0 -70px;
   article {
      float: left;
      height: 330px;
      width: 460px;
      margin: 0 10px 300px;
      overflow: hidden;
      position: relative;
      .looper-title {
         width: 100%;
         float: left;
         text-align: center;
         margin: 0 0 40px;
         font-size: 30px;
         margin: 0 0 40px;
         color: #000000;
         text-transform: uppercase;
         a{
            text-decoration: none;
            color: #000;
         }
      }
      .feature-img {
         width: 460px;
         height: 145px;
         position: absolute;
         bottom: 0;
         left: 0;
         display: block;
         margin: 0;
         img {
            width: 100%;
            height: 145px;
         }
         .show-more {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 5;
            margin: 0;
         }
      }
      .tags,
      .date {
         display: none;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
         h2 {
            margin: 0 auto 40px;
            font-size: 18px;
            color: #000000;
         }
      }
      &:nth-child(2),
      &:nth-child(3) {
/*          background-color: red; */
      }
      &:nth-child(4),
      &:nth-child(5) {
         margin-bottom: 30px;
      }
      &:first-child {
         width: 820px;
         height: 370px;
         padding: 0 70px;
         margin: 0 0 120px;
         .looper-title {
            font-size: 18px;
            font-weight: 700;
            text-align: left;
            margin: 0 0 40px;
            color: #000;
            line-height: 1;
         }
         .feature-img {
            width: 820px;
            height: 145px;
            left: 70px;
            img {
               width: 820px;
               height: 145px;
            }
         }
         .tags,
         .date {
            display: block;
         }
      }
      .view-article {
         display: none;
      }
   }
}
.product-page {
   table {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
         font-size: 24px;
         font-weight: lighter;
         color: #000000;
         margin: 0 0 20px;
      }
      p {
         margin: 0 0 10px;
      }
      .row-1,
      .row-3 {
         td {
            width: 50%;
            &:first-child {
               padding-right: 30px;
            }
            &:last-child {
               padding-left: 30px;
            }
         }
      }
      .row-2 {
         height: 200px;
      }
      .row-3 {
         td {
            padding: 50px 0 0;
         }
      }
      .row-4 {
         td {
            position: relative;
            height: 255px;
            padding: 50px 0 60px;
         }
         h5 {
            color: #fff;
            font-weight: 700;
         }
         .wider {
            width: 300px;
            height: 205px;
            padding: 50px 80px 0;
            position: absolute;
            top: 50px;
            text-align: center;
            color: #fff;
         }
         .wider-left {
            left: -70px;
            background-image: url(../img/bg/sertificate-firefigth.jpg);
            background-repeat: no-repeat;
            background-size: cover;
         }
         .wider-right {
            right: -70px;
            background-image: url(../img/bg/sertificate-specif.jpg);
            background-repeat: no-repeat;
            background-size: cover;
         }
      }
   }

}
.search-container {
   width: 960px;
   margin: 0 auto 70px;
   .search-title {
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      margin: 0 70px 30px;
   }
   .search-count {
      font-size: 14px;
      font-weight: lighter;
      margin: 0 90px 70px;
   }
   .relative-block-title {
      width: 100%;
      float: left;
      text-align: center;
      margin: 0 0 40px;
      font-size: 30px;
      margin: 0 0 40px;
      color: #000000;
      text-transform: uppercase;
   }
   .container {
      float: left;
      height: 325px;
      width: 460px;
      margin: 0 10px;
      overflow: hidden;
      .container-title {
         color: #000000;
         margin: 0 0 36px;
         text-align: center;
         font-size: 18px;
         height: 24px;
         overflow: hidden;
      }
      .relative-feature-image {
         width: 460px;
         height: 145px;
         position: relative;
         display: block;
         margin: 0 0 40px;
         img {
            width: 100%;
            height: 145px;
         }
         .show-more {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 5;
            margin: 0;
         }
      }
   }
}

/* ==============
 * Footer
/* ============== */

footer {
   position: relative;
   width: 100%;
   height: 145px;
   background-color: $footer_color;
   color: #fff;
   .footer-phone-block {
      width: 550px;
      position: absolute;
      top: 35px;
      left: 0;
      background-image: url(../img/bg/footer-phone.png);
      background-repeat: no-repeat;
      background-position: 25px center;
      .footer-phone {
         color: #fff;
         text-decoration: none;
         font-size: 24px;
         font-weight: lighter;
         position: absolute;
         top: 0;
         left: 70px;
      }
      .footer-phone-bottom {
         top: 40px;
      }
      p {
         position: absolute;
         top: 30px;
         left: 270px;
         font-size: 12px;
      }
      .top {
         top: 7px;
         font-size: 14px;
      }
   }
   form {
      width: 220px;
      height: 39px;
      position: absolute;
      top: 40px;
      right: 10px;
      border-top: 1px solid #1e1e1e;
      input {
         background-color: $footer_color;
         width: 190px;
         height: 38px;
         padding-right: 20px;
         padding-left: 10px;
         position: absolute;
         top: 0;
         left: 0;
         color: #bababa;
         outline: none;
         border: 0;
         border-top: 1px solid #212121;
      }
      button {
         width: 17px;
         height: 40px;
         position: absolute;
         top: 0;
         right: 0;
         display: block;
         background-color: transparent;
         border: 0;
         background-image: url(../img/bg/arrow-button.png);
         background-repeat: no-repeat;
         background-position: left center;
      }
   }
   .footer-nav {
      display: table;
      width: 400px;
      position: absolute;
      top: 105px;
      right: 0;
      li {
         display: table-cell;
         text-align: center;
         a {
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            font-weight: lighter;
            padding: 10px;
            text-transform: capitalize;
            &:hover {
               text-decoration: underline;
            }
         }
      }
   }
}

/* ==============
 * WordPress img
/* ============== */

.aligncenter,
div.aligncenter {
   display: block;
   margin-right: auto;
   margin-left: auto;
}

.alignleft {
   float: left;
   margin-right: 5px;
}

.alignright {
   float: right;
   margin-left: 5px;
}

.wp-caption {
   margin: 10px;
   padding-top: 4px;
   text-align: center;
   border: 1px solid #ddd;
   border-radius: 3px;
   background-color: #f3f3f3;
   img {
      margin: 0;
      padding: 0;
      border: 0 none;
   }
   p.wp-caption-text {
      font-size: 11px;
      line-height: 17px;
      margin: 0;
      padding: 0 4px 5px;
   }
}
